body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 16px;
}

.question-title {
    margin-top: 25px;
}

.community-menu {
    display: block;
    font-size: 13px;
    color: #999;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 85px;
}

.comment-box {
    margin: 15px 0px;
    resize: none;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.sub-comments .btn-success {
    margin-right: 15px;
}

.btn-comment {
    float: right;
    margin-bottom: 15px;
}

.comment-sp {
    margin-top: 0px;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover{
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

/*测试用
.left-img {
    padding-top: 30px;
    padding-right: 30px;
}
.middle-comment {
    width: 64px;
    height: 64px;
}
.right-btn {
    width: 80px;
    height: 70px;
    margin-top: 28px;
}*/
